
<css lang="en">

  <style type="text/css">
			
  * {
    margin: 0;
    padding: 0;
}
#contenedor{
  width: 1200;
  height: 1000;
  background: #D8D8D8;
  margin: 0.5em auto;
  padding: 0.5em;
} 
#header{
  height: 14%;
  background: #A4A4A4;
  border-radius: 1em;
  margin: 1em;
} 
#nav{
  height: 8%;
  background: rgb(3, 3, 56);
  border-radius: 1em;
  margin: 1em;
} 
#contenido{
  height: 65%;  
  background: #FFFFFF;
  margin: 1em;
} 
#footer{
  height: 10%;  
  background: #A4A4A4;
  border-radius: 1em;
  margin: 1em;
} 
#section{
  height: 90%;
  width: 67%;
  background: #A4A4A4;
  border-radius: 1em;
  float: left;
  margin: 0.5em;
} 
#aside{
  height: 90%;
  width: 30%;
  background: #A4A4A4;
  border-radius: 1em;
  float: right;
  margin: 0.5em;
} 
      
    ul, ol {
      list-style:none;
    }
    
    #navi {
      width:110px; /*Le est2ablecemos un ancho*/
      margin:0 auto; /*Centramos automaticamente*/
    }
  </style>
    .nav {
        width:1100px; /*Le est2ablecemos un ancho*/
        margin:0 auto; /*Centramos automaticamente*/
      }

    .nav > li {
      float:left;
    }
    
    .nav li a {
      background-color:blue;
      color:#fff;
      text-decoration:none;
      padding:30px 12px;
      display:block;
    }
    
    .nav li a:hover {
      background-color:blue(40, 40, 40);
    }
    
    .nav li ul {
      display:none;
      position:absolute;
      min-width:5px;
    }
    
    .nav li:hover > ul {
      display:block;
    }
    
    .nav li ul li {
      position:relative;
    }
    
    .nav li ul li ul {
      right:-5px;
      top:5px;
    }
    
  </style>


<!-- Automatic Slideshow Images -->
   
    
      <head>
      <style>
      .contenedor {
        position: relative;
      }
      .topright {
        position: absolute;
        bottom: 120px;
        right: 40px;
        font-size: 35px;
      }
      
      .topleft {
        position: absolute;
        bottom: 120px;
        top: 40px;
        left: 50px;
        font-size: 35px;
      }
      .bottomright {
        position: absolute;
        bottom: 120px;
        right: 50px;
        font-size: 35px;
      }
      
      img { 
        width: 100%;
        height: 30%;
        opacity: 1;
      }
      </style>
      </head>
    
      <script>
      // Automatic Slideshow - change image every 5 seconds
      var myIndex = 0;
      carousel();
      
      function carousel() {
        var i;
        var x = document.getElementsByClassName("mySlides");
        for (i = 0; i < x.length; i++) {
          x[i].style.display = "none";  
        }
        myIndex++;
        if (myIndex > x.length) {myIndex = 1}    
        x[myIndex-1].style.display = "block";  
        setTimeout(carousel, 4000);    
      }
      
      // Used to toggle the menu on small screens when clicking on the menu button
      function myFunction() {
        var x = document.getElementById("navDemo");
        if (x.className.indexOf("w3-show") == -1) {
          x.className += " w3-show";
        } else { 
          x.className = x.className.replace(" w3-show", "");
        }
      }
      
      // When the user clicks anywhere outside of the modal, close it
      var modal = document.getElementById('ticketModal');
      window.onclick = function(event) {
        if (event.target == modal) {
          modal.style.display = "none";
        }
      }
      </script>
      </style>
