
<css lang="en">
<title>PREMIUM COLOMBIA</title>
<meta charset="UTF-8">

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<body>
  <style type="text/css">
			
    * {
      margin:0px;
      padding:0px;
    }
    #contenedor{
        margin:auto;
        width:1200px;
        height: 1000px;
    }    
    #header {
      margin:auto;
      width:1200px;
      border-radius: 1em;
      margin: 1em;
      font-family:Arial, Helvetica, sans-serif;
    }

    
    ul, ol {
      list-style:none;
    }
    
    #navi {
      width:1200px; /*Le est2ablecemos un ancho*/
      margin:0 auto; /*Centramos automaticamente*/
    }
  </style>
    .nav {
        width:1200px; /*Le est2ablecemos un ancho*/
        margin:0 auto; /*Centramos automaticamente*/
      }

    .nav > li {
      float:left;
    }
    
    .nav li a {
      background-color:#000;
      color:#fff;
      text-decoration:none;
      padding:30px 12px;
      display:block;
    }
    
    .nav li a:hover {
      background-color:#434343;
    }
    
    .nav li ul {
      display:none;
      position:absolute;
      min-width:5px;
    }
    
    .nav li:hover > ul {
      display:block;
    }
    
    .nav li ul li {
      position:relative;
    }
    
    .nav li ul li ul {
      right:-5px;
      top:5px;
    }
    
  </style>


<!-- Automatic Slideshow Images -->
   
    <style>
    .contenedor1 {
      position: relative;
    }
    
    .topright {
      position: absolute;
      top: 40px;
      right: 16px;
      font-size: 35px;
    }
    
    img { 
      width: 100%;
      height: auto;
      opacity: 1;
    }
    </style>
   
    <style>
      .contenedor2 {
        position: relative;
      }
      
      .bottomright {
        position: absolute;
        bottom: 120px;
        right: 16px;
        font-size: 35px;
      }
      
      img { 
        width: 100%;
        height: auto;
        opacity: 1;
      }
      </style>
   
      <style>
      .contenedor3 {
        position: relative;
      }
      
      .topleft {
        position: absolute;
        top: 40px;
        left: 16px;
        font-size: 35px;
      }
      
      img { 
        width: 100%;
        height: auto;
        opacity: 1;
      }
      </style>
   
      <style>
      .contenedor4 {
        position: relative;
      }
      
      .topleft {
        position: absolute;
        bottom: 40px;
        left: 16px;
        font-size: 35px;
      }
      
      img { 
        width: 100%;
        height: auto;
        opacity: 1;
      }
      </style>
 
      <head>
      <style>
      .contenedor {
        position: relative;
      }
      .topright {
        position: absolute;
        bottom: 120px;
        right: 40px;
        font-size: 35px;
      }
      
      .topleft {
        position: absolute;
        bottom: 120px;
        top: 40px;
        left: 50px;
        font-size: 35px;
      }
      .bottomright {
        position: absolute;
        bottom: 120px;
        right: 50px;
        font-size: 35px;
      }
      
      img { 
        width: 100%;
        height: auto;
        opacity: 1;
      }
      </style>
      </head>
      <style>
      .contenedor {
        position: relative;
      }
      .topright {
        position: absolute;
        top: 40px;
        right: 40px;
        font-size: 35px;
      }
      
      .topleft {
        position: absolute;
        top: 40px;
        left: 40px;
        font-size: 35px;
      }
      .bottomright {
        position: absolute;
        bottom: 120px;
        right: 40px;
        font-size: 35px;
      }
      
      img { 
        width: 100%;
        height: auto;
        opacity: 1;
      }
      </style>
      </head>
 