
<css lang="en">

<style type="text/css">
        
* {
  margin:0px;
  padding:0px;
  box-sizing: border-box;
  font-family:tahoma;
}
header {
  height: 50px;
  background:linear-gradient(#000080, rgb(32, 114, 196))
  color: white;
}  
header label {
font-size: 30px;
width: 30px;
height: 30px;
border-right: 1px solid white;
cursor: pointer; 
display: block;
}    
header label:hover {
  cursor: pointer;
  background: #0000ff;
  height: 30px;
  cursor: pointer; 
  display: block;
  }    
  

#btn-menu{
  display: none;
} 


  .menu ul {
    position: absolute;
     flex-direction: column;
    list-style:none;
    }
    .menu ul ul {
    display: none;
    }
    .menu a {
    padding:15px 20px;
    color: white;  
    display: block;
    text-decoration: none;
    }
    .menu > li a{
    position: absolute;
    padding:15px 20px;
    color:white;
    font-family:tahoma;
    font-size:25px;
    text-decoration:none;
    }
    .menu a:hover  {
      
      visibility: visible;
      opacity:1;
    } 
    .menu a span {
      margin-left: 15px;
    }
    .menu ul li:hover ul {
      display: block;
      position: static;
      }
    @media (max-width: 768px) {
      header label {
        display:block;
      }
     
  .nav-dropdown { 
    position: absolute;  
    display: block
    padding: 10px 10px;
    font-family:tahoma;
    font-size:25px;
    text-align: center;
    text-decoration: none;
    }
    ul, ol {
      list-style:none;
    }

    .navbar-nav.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
    }
    .dropdown-item
    {
      display:none;
      position:absolute;
      min-width:1px;
    }
    .navbar-dark .navbar-toggler-icon {
     
    }
    #contenedor {
      margin:auto;
      width:1200px;
      height: 1000px;
    }
    #nav{
      list-style-type: block;
    } 
    header nav {
      width:80%;
      height: 25%;
      padding:10px;
      max-width:1200px;
      margin: auto;
      background:white;
      position:relative;
    }
    .center {
     display: block;
     margin-left: auto;
     margin-right: auto;
     width: 50%;
    }
    .nav {

    color:   rgb(32, 114, 196));
    overflow: hidden;
    list-style-type: none;
    background-image:linear-gradient(#000080, rgb(32, 114, 196));
    }
    .nav li {
    position: relative;  
    float: left;
    }
    .nav li a {
    color: linear-gradient(#000080, rgb(32, 114, 196));
    display: block;
    padding: 20px 10px;
    font-family:tahoma;
    font-size:25px;
    text-align: center;
    text-decoration: none;
    }
    .nav li a:hover {
    background-color:rgb(32, 114, 196);
    transition: all .3s;
          }
    @media screen and (max-width: 768px){
    .nav li {float: none;}
    
    }
    .navbar {
      position: absolute;
       background:linear-gradient(#000080, rgb(32, 114, 196))
       width: 70%;
      margin-left: -70%;
      }
      .navbar-nav {
        position: absolute;
         background:linear-gradient(#000080, rgb(32, 114, 196))
      
        }
     
    .nav li ul {
      display:none;
      position:absolute;
      min-width:1px;
    }
    
    .nav li:hover > ul {
      display:block;
    }
    
    .nav li ul li {
      position:relative;
    }
    
    .nav li ul li ul {
      left:-10px;
      top:2px;
    }
  </style>
  
<!-- Automatic Slideshow Images -->
   
    
      <head>
      </head>
    
      <script>
      // Automatic Slideshow - change image every 5 seconds
      var myIndex = 0;
      carousel();
      
      function carousel() {
        var i;
        var x = document.getElementsByClassName("mySlides");
        for (i = 0; i < x.length; i++) {
          x[i].style.display = "none";  
        }
        myIndex++;
        if (myIndex > x.length) {myIndex = 1}    
        x[myIndex-1].style.display = "block";  
        setTimeout(carousel, 4000);    
      }
      
      // Used to toggle the menu on small screens when clicking on the menu button
      function myFunction() {
        var x = document.getElementById("navDemo");
        if (x.className.indexOf("w3-show") == -1) {
          x.className += " w3-show";
        } else { 
          x.className = x.className.replace(" w3-show", "");
        }
      }
      
      // When the user clicks anywhere outside of the modal, close it
      var modal = document.getElementById('ticketModal');
      window.onclick = function(event) {
        if (event.target == modal) {
          modal.style.display = "none";
        }
      }
      </script>
      </style>
