* {
    margin: 0;
    padding: 0;
}
#contenedor{
  width: 1200;
  height: 1000;
  background: #D8D8D8;
  margin: 0.5em auto;
  padding: 0.5em;
} 
#header{
  height: 14%;
  background: #A4A4A4;
  border-radius: 1em;
  margin: 1em;
} 
#nav{
  height: 10%;
  background: rgb(3, 3, 56);
  border-radius: 1em;
  margin: 1em;
} 
#contenido{
  height: 65%;  
  background: #FFFFFF;
  margin: 1em;
} 
#footer{
  height: 10%;  
  background: #A4A4A4;
  border-radius: 1em;
  margin: 1em;
} 
#section{
  height: 90%;
  width: 67%;
  background: #A4A4A4;
  border-radius: 1em;
  float: left;
  margin: 0.5em;
} 
#aside{
  height: 90%;
  width: 30%;
  background: #A4A4A4;
  border-radius: 1em;
  float: right;
  margin: 0.5em;
} 